USE [master]
GO
/****** Object:  Database [QUANLYBANHANG]    Script Date: 10/14/2021 10:00:05 PM ******/
CREATE DATABASE [QUANLYBANHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYBANHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\QUANLYBANHANG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYBANHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\QUANLYBANHANG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYBANHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYBANHANG]
GO
/****** Object:  Table [dbo].[HANG]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANG](
	[MAHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENHANG] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIABAN] [float] NOT NULL,
	[DONGIANHAP] [float] NOT NULL,
	[GIACHU] [nvarchar](20) NOT NULL,
	[MANV] [nvarchar](20) NOT NULL,
	[HINHANH] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC,
	[TENHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[DIENTHOAI] [varchar](15) NOT NULL,
	[TENKHACH] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[PHAI] [nvarchar](5) NOT NULL,
	[MANV] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DIENTHOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [nvarchar](20) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[TENNV] [varchar](50) NOT NULL,
	[DIACHI] [varchar](100) NOT NULL,
	[VAITRO] [tinyint] NOT NULL,
	[TINHTRANG] [tinyint] NOT NULL,
	[MATKHAU] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HANG] ON 

INSERT [dbo].[HANG] ([MAHANG], [TENHANG], [SOLUONG], [DONGIABAN], [DONGIANHAP], [GIACHU], [MANV], [HINHANH]) VALUES (16, N'Yua MikaMi', 1, 2000000000, 1000000000, N'Gái Xinh ', N'NV0002', N'\Images\mikami.jpg')
SET IDENTITY_INSERT [dbo].[HANG] OFF
GO
INSERT [dbo].[KHACHHANG] ([DIENTHOAI], [TENKHACH], [DIACHI], [PHAI], [MANV]) VALUES (N'0000000000', N'test', N'f', N'Nam', N'nv')
INSERT [dbo].[KHACHHANG] ([DIENTHOAI], [TENKHACH], [DIACHI], [PHAI], [MANV]) VALUES (N'0384067990', N'Tr?n Van Ti?p', N'Qu?ng Ngãii', N'Nam', N'nv')
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([ID], [MANV], [EMAIL], [TENNV], [DIACHI], [VAITRO], [TINHTRANG], [MATKHAU]) VALUES (8, N'nv', N'a@a.com', N'Tran Van Tiep', N'Quang Ngai', 1, 1, N'1292201552198220877194054219216496220885')
INSERT [dbo].[NHANVIEN] ([ID], [MANV], [EMAIL], [TENNV], [DIACHI], [VAITRO], [TINHTRANG], [MATKHAU]) VALUES (5, N'NV0002', N'a@admin', N'Admin', N'Quang Ngai', 1, 1, N'1292201552198220877194054219216496220885')
INSERT [dbo].[NHANVIEN] ([ID], [MANV], [EMAIL], [TENNV], [DIACHI], [VAITRO], [TINHTRANG], [MATKHAU]) VALUES (17, N'NV0009', N'tranvantiep0805@gmail.com', N'Anh Tien', N'Quang Ngai', 1, 1, N'1292201552198220877194054219216496220885')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [MATKHAU_DEFAULT]  DEFAULT ('1292201552198220877194054219216496220885') FOR [MATKHAU]
GO
ALTER TABLE [dbo].[HANG]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
/****** Object:  StoredProcedure [dbo].[DANGNHAP]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DANGNHAP] @EMAIL VARCHAR(50), @MATKHAU NVARCHAR(50)
AS 
BEGIN
	DECLARE @STATUS INT
	IF EXISTS(SELECT * FROM NHANVIEN 
	WHERE EMAIL = @EMAIL AND MATKHAU = @MATKHAU)
		SET @STATUS = 1
	ELSE 
		SET @STATUS = 0
	SELECT @STATUS
END
GO
/****** Object:  StoredProcedure [dbo].[DANHSACHKH]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DANHSACHKH]
AS 
BEGIN 
	SET NOCOUNT ON;
	SELECT * FROM KHACHHANG
END
GO
/****** Object:  StoredProcedure [dbo].[DANHSACHNV]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DANHSACHNV]
AS 
BEGIN 
	SELECT EMAIL, TENNV, DIACHI, VAITRO,
	TINHTRANG FROM NHANVIEN where TINHTRANG = 1
END
GO
/****** Object:  StoredProcedure [dbo].[DANHSACHSANPHAM]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DANHSACHSANPHAM]
AS 
BEGIN 
	SET NOCOUNT ON;
	SELECT MAHANG,TENHANG,SOLUONG,DONGIABAN,DONGIANHAP,HINHANH,GIACHU FROM HANG
END
GO
/****** Object:  StoredProcedure [dbo].[DELETEDATAFROMKHACHHANG]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DELETEDATAFROMKHACHHANG]
@DIENTHOAI VARCHAR(15)
AS
BEGIN
	DELETE FROM KHACHHANG WHERE DIENTHOAI = @DIENTHOAI
END
GO
/****** Object:  StoredProcedure [dbo].[DELETEDATAFROMNHANVIEN]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DELETEDATAFROMNHANVIEN]
@EMAIL VARCHAR(100)
AS
BEGIN
	UPDATE NHANVIEN SET
	TINHTRANG = 0 WHERE EMAIL = @EMAIL
END
GO
/****** Object:  StoredProcedure [dbo].[DELETEDATASANPHAM]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DELETEDATASANPHAM]
@MAHANG INT
AS
BEGIN
	DELETE FROM HANG WHERE MAHANG = @MAHANG
END
GO
/****** Object:  StoredProcedure [dbo].[DOIMK]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DOIMK] 
@EMAIL VARCHAR(50),
@ODDPASS VARCHAR(100),
@NEWPASS VARCHAR(100)
AS 
BEGIN
	DECLARE @OP VARCHAR(100)
	SELECT @OP = MATKHAU FROM NHANVIEN WHERE EMAIL = EMAIL
	IF @OP = @ODDPASS
	BEGIN 
		UPDATE NHANVIEN SET MATKHAU = @NEWPASS WHERE EMAIL = @EMAIL
		RETURN 1
	END
	ELSE
		RETURN -1
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTDATAINTOKHACHHANG]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTDATAINTOKHACHHANG]
@DIENTHOAI VARCHAR(15), @TENKHACH VARCHAR(50),
@DIACHI VARCHAR(100), @PHAI VARCHAR(5), @EMAIL VARCHAR(20)
AS
BEGIN
	DECLARE @MANV VARCHAR(20);
	IF(NOT EXISTS(SELECT * FROM KHACHHANG WHERE DIENTHOAI = @DIENTHOAI))
	BEGIN
			SELECT @MANV = MANV FROM NHANVIEN WHERE EMAIL = @EMAIL
			INSERT INTO KHACHHANG(DIENTHOAI, TENKHACH, DIACHI, PHAI, MANV)
			VALUES(@DIENTHOAI, @TENKHACH, @DIACHI, @PHAI, @MANV)
	END
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTDATAINTONHANVIEN]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTDATAINTONHANVIEN] 
@EMAIL VARCHAR(50),
@TENNV NVARCHAR(50),
@DIACHI NVARCHAR(100),
@VAITRO TINYINT,
@TINHTRANG TINYINT
AS 
BEGIN
	IF(NOT EXISTS(SELECT * FROM NHANVIEN WHERE EMAIL = @EMAIL))
		BEGIN
			DECLARE @MANV VARCHAR(20)
			DECLARE @ID INT;
			SELECT @ID = ISNULL(MAX(ID),0) + 1 FROM NHANVIEN
			SELECT @MANV = 'NV' + RIGHT('0000' + CAST(@ID AS VARCHAR(4)),4)
			INSERT INTO NHANVIEN(MANV, EMAIL, TENNV, DIACHI, VAITRO, TINHTRANG)
			VALUES (@MANV, @EMAIL,@TENNV,@DIACHI,@VAITRO,@TINHTRANG)
		END
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTDATAINTOSANPHAM]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTDATAINTOSANPHAM]
@TENHANG NVARCHAR(50),
@SOLUONG INT,
@DONGIABAN FLOAT,
@DONGIANHAP FLOAT,
@HINHANH VARCHAR(500),
@GHICHU VARCHAR(20),
@EMAIL VARCHAR(50)
AS
BEGIN
	DECLARE @MANV VARCHAR(20);
	SELECT @MANV = MANV FROM NHANVIEN WHERE EMAIL = @EMAIL
	INSERT INTO HANG(TENHANG,SOLUONG,DONGIABAN,DONGIANHAP,GIACHU,MANV,HINHANH)
	VALUES(@TENHANG,@SOLUONG,@DONGIABAN,@DONGIANHAP,@GHICHU,@MANV,@HINHANH)
END
GO
/****** Object:  StoredProcedure [dbo].[KIEMTRATINHTRANG]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[KIEMTRATINHTRANG]
@EMAIL VARCHAR(50)
AS
BEGIN
	DECLARE @SST INT
	IF EXISTS(SELECT * FROM NHANVIEN WHERE EMAIL = @EMAIL AND TINHTRANG = 0)
		SET @SST = 1
	ELSE
		SET @SST = 0
	SELECT @SST
END
GO
/****** Object:  StoredProcedure [dbo].[LayVaiTroNhanVien]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LayVaiTroNhanVien] @email varchar(50)
AS
BEGIN 
	select vaitro from nhanvien where email = @email
END
GO
/****** Object:  StoredProcedure [dbo].[QUENMATKHAU]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[QUENMATKHAU] @EMAIL VARCHAR(50)
AS
BEGIN
	DECLARE @STATUS INT
	IF EXISTS(SELECT MANV FROM NHANVIEN WHERE EMAIL = @EMAIL)
		SET @STATUS = 1
	ELSE 
		SET @STATUS = 0
	SELECT @STATUS
END
GO
/****** Object:  StoredProcedure [dbo].[SEARCHDATAFROMNHANVIEN]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SEARCHDATAFROMNHANVIEN]
@TENNV VARCHAR(100)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT EMAIL, TENNV, DIACHI, VAITRO, TINHTRANG 
	FROM NHANVIEN
	WHERE TENNV LIKE '%' + @TENNV + '%' AND TINHTRANG = 1
END
GO
/****** Object:  StoredProcedure [dbo].[SEARCHKHACHHANG]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SEARCHKHACHHANG]
@DIENTHOAI VARCHAR(15)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM KHACHHANG WHERE DIENTHOAI LIKE + '%' + @DIENTHOAI + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[SEARCHSANPHAM]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[SEARCHSANPHAM]
 @TENHANG NVARCHAR(50)
 AS
 BEGIN
	SET NOCOUNT ON;
	SELECT * FROM HANG WHERE TENHANG LIKE '%'+@TENHANG+'%'
 END
GO
/****** Object:  StoredProcedure [dbo].[TAOMOIMATKHAU]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TAOMOIMATKHAU] 
@EMAIL NVARCHAR(50),
@MATKHAU NVARCHAR(200)
AS
BEGIN
	UPDATE NHANVIEN SET MATKHAU = @MATKHAU
	WHERE EMAIL = @EMAIL
END
GO
/****** Object:  StoredProcedure [dbo].[THONGKESP]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THONGKESP]
AS
BEGIN
	SELECT HANG.MANV, TENNV, COUNT(MAHANG)
	FROM HANG INNER JOIN NHANVIEN ON HANG.MANV = NHANVIEN.MANV
	GROUP BY HANG.MANV, TENNV
END
GO
/****** Object:  StoredProcedure [dbo].[THONGKETONKHO]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THONGKETONKHO]
AS
BEGIN
	SELECT TENHANG, SUM(SOLUONG) FROM HANG GROUP BY TENHANG
END
GO
/****** Object:  StoredProcedure [dbo].[UPDATEDATAINTOKHACHHANG]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UPDATEDATAINTOKHACHHANG]
@DIENTHOAI VARCHAR(15),
@TENKHACH VARCHAR(50),
@DIACHI VARCHAR(100),
@PHAI VARCHAR(5)
AS
BEGIN
	UPDATE KHACHHANG SET TENKHACH = @TENKHACH, DIACHI = @DIACHI, PHAI = @PHAI
	WHERE DIENTHOAI = @DIENTHOAI
END
GO
/****** Object:  StoredProcedure [dbo].[UPDATEDATAINTONHANVIEN]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- DROP PROC UPDATEDATAINTONHANVIEN
CREATE PROC [dbo].[UPDATEDATAINTONHANVIEN]
@EMAIL VARCHAR(50),
@TENNV NVARCHAR(50),
@DIACHI NVARCHAR(100),
@VAITRO TINYINT,
@TINHTRANG TINYINT
AS
BEGIN
	UPDATE NHANVIEN SET
	TENNV = @TENNV,DIACHI = @DIACHI,VAITRO = @VAITRO,TINHTRANG = @TINHTRANG
	WHERE EMAIL = @EMAIL
END
GO
/****** Object:  StoredProcedure [dbo].[UPDATEDATASANPHAM]    Script Date: 10/14/2021 10:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UPDATEDATASANPHAM]
@MAHANG INT,
@TENHANG NVARCHAR(50),
@SOLUONG INT,
@DONGIABAN FLOAT,
@DONGIANHAP FLOAT,
@HINHANH VARCHAR(500),
@GHICHU VARCHAR(20)
AS
BEGIN
	UPDATE HANG SET TENHANG = @TENHANG, SOLUONG = @SOLUONG,
	DONGIABAN = @DONGIABAN, DONGIANHAP = @DONGIANHAP,GIACHU = @GHICHU, HINHANH = @HINHANH
	WHERE MAHANG = @MAHANG
END
GO
USE [master]
GO
